* { box-sizing: border-box; }
body {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 200px;
}
.content {
  max-width: 700px;
  margin: 0 auto;
}
h1 {
  font-size: 1.6rem;
  text-align: center;
}
h2 {
  font-size: 1.2rem;
}
h3 {
  font-size: 1rem;
}
.tag {
  display: inline-block;
  background-color: lightgray;
  padding: 6px 0;
  width: 75px;
  text-align: center;
  color: white;
  border-radius: 4px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.tag.post {
  background-color: #8ab383;
}
.tag.get {
  background-color: deepskyblue;
}
.tag.delete {
  background-color: #e6573e;
}
.tag.patch {
  background-color: #bb01bb;
}
img.chevron {
  position: absolute;
  right: 10px;
  top: 8px;
  opacity: .4;
}
.rotated {
  transform: rotate(180deg);
}
.title-row {
  position: relative;
  user-select: none;
}
.endpoint-container {
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 5px;
  margin: 10px 0;
}
.endpoint-path {
  display: inline-block;
  margin: 0;
  font-family: Menlo, Consolas, monospace;
  font-size: 1.1rem;
  margin-left: 10px;
  user-select: text;
}
.endpoint-desc {
  display: inline-block;
  margin-left: 20px;
  font-size: 0.9rem;
}
.show-more {
  padding: 5px;
}
pre {
  font-family: Menlo, Consolas, monospace;
  font-size: 0.8rem;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 3px;
  overflow-x: scroll;
}
.hidden {
  display: none;
}
.invisible {
  opacity: 0;
}
.clickable {
  cursor: pointer;
}
/* .endpoint-desc::before {
  content: '-';
  margin-right: 8px;
} */
